<div class="account">
    <h1 class="text-4xl font-semibold mb-10">My Profit</h1>

    <div class="account__card">
        <div class="flex items-center gap-6 border rounded-2xl border-gray-200 p-6">
            <img class="rounded-full w-20 h-20" src="./assets/images/user.png" alt="image description">
            <div class="account__card-content">
                <p class="font-semibold text-2xl">Keval Vadhiya</p>
                <p class="text-gray-400">Admin</p>
                <p class="text-gray-300">Junagadh, Gujarat</p>
            </div>
        </div>
    </div>

    <div class="fund mt-12">
        <div class="flex justify-between items-center">
            <h1 class="mb-8 text-2xl">Added Fund Records</h1>
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" (click)="openAddFundDialog('add')">Add Fund</button>
        </div>
        
        <div class="relative overflow-x-auto sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Funds
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of addFunds">
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <!-- {{ newDate | date: 'dd-MM-yyyy'}} -->
                                {{ item.date }}
                            </th>
                            <td class="px-6 py-4 text-red-600 font-semibold">
                                {{ item.fund }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <button  (click)="openAddFundDialog('add', item)"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>

    <div class="fund mt-12">
        <div class="flex justify-between items-center">
            <h1 class="mb-8 text-2xl">Withdrawal Records</h1>
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            (click)="openAddFundDialog('withdrawal')">Withdrawal Fund</button>
        </div>
        
        <div class="relative overflow-x-auto sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Funds
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of withdrawalFunds">
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <!-- {{ newDate | date: 'dd-MM-yyyy'}} -->
                                {{ item.date }}
                            </th>
                            <td class="px-6 py-4 text-green-600 font-semibold">
                                {{ item.fund }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <button  (click)="openAddFundDialog('withdrawal' , item)"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>
</div>