<div class="fund-form">
    <form [formGroup]="fundForm" (submit)="submit()">
        <div class="grid gap-5 mb-6">
            <div>
                <label for="date" class="block mb-2 text-sm font-medium text-gray-300">Date</label>
                <p-calendar formControlName="date" appendTo="body" dateFormat="dd/mm/yy" placeholder="Select Date" styleClass="w-full"></p-calendar>
            </div>

            <div>
                <label for="fund" class="block mb-2 text-sm font-medium text-gray-300">Amount</label>
                <input formControlName="fund" type="number" id="fund" class="form-input" placeholder="Enter amount" min="0"/>
            </div>
        </div>
        <div class="footer-btn">
            <button type="submit" [disabled]="fundForm.invalid" 
                [ngClass]="{'bg-blue-400/50 cursor-not-allowed': fundForm.invalid, 'bg-blue-600 hover:bg-blue-700' : !fundForm.invalid }" 
                class="text-white focus:ring-4 focus:outline-none focus:ring-blue-500/30 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center transition-colors">
                Submit
            </button>
        </div>
    </form>
</div>
