.overview {
    &__week {
        button {
            @apply bg-gray-100 px-3 py-1 rounded-sm;
        }
    }
    
    &__card {
        &-growth {

            &.profit,&.lose {
                @apply text-white px-2 py-1 rounded-sm;
            }

            &.profit {
                @apply bg-green-400
            }

            &.lose {
                @apply bg-red-400
            }
        }
    }
}

::ng-deep .chart canvas {
    height: 400px !important;
}

.recent {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        &.header {
            @apply bg-gray-100 rounded-lg px-4 py-2;
        }

        &.body {
            @apply rounded-lg px-4 py-4 border-b border-b-gray-100;
        }
    }
}