<div class="flex gap-4">
    <div class="w-1/4"> 
        <h1 class="text-4xl font-semibold mb-10">Overview</h1>

        <div class="overview">
            <div class="overview__card">
                <p class="text-sm text-gray-400 mb-2">Current Week Investment</p>
                <div class="flex items-center justify-between">
                    <p class="text-3xl">₹1250</p>
                </div>
            </div>

            <div class="overview__card mt-4 pt-4 border-t border-gray-100">
                <p class="text-sm text-gray-400 mb-2">Goal Of Current Week</p>
                <div class="flex items-center justify-between">
                    <p class="text-3xl">₹1250</p>
                </div>
            </div>

            <div class="overview__card mt-4 pt-4 border-t border-gray-100">
                <p class="text-sm text-gray-400 mb-2">Current Week Result</p>
                <div class="flex items-center justify-between">
                    <p class="text-3xl">₹1250</p>
                    <div class="overview__card-growth flex gap-1 justify-between items-center profit">
                        <img src="./assets/icons/down-arrow.png" alt="Up Arrow" width="20" height="20">
                        20%
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="flex-grow">
    </div>
</div>