.overview {
    &__week {
        button {
            @apply bg-gray-100 px-3 py-1 rounded-sm;
        }
    }
    
    &__card {
        &-growth {

            &.profit,&.lose {
                @apply text-white px-2 py-1 rounded-sm;
            }

            &.profit {
                @apply bg-green-400
            }

            &.lose {
                @apply bg-red-400
            }
        }
    }
}

.celebration {
    position: absolute;
    top: -45px;
    right: -80px;
    transform: rotate(85deg);
}

::ng-deep .chart canvas {
    height: 400px !important;

    @media screen and (max-width: 600px) {
        @apply mb-20;
        height: 300px !important;
        width: 300px !important;
    }
}