<div class="trades">
    <h1 class="text-4xl font-semibold mb-10">Trades</h1>

    <button (click)="openTradeForm()"
        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 ml-auto py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button">
        Add Trade
    </button>

    
    <div class="sheet__card-overview flex justify-between flex-wrap gap-2 mt-4 p-4 bg-yellow-50 border border-yellow-100 rounded-lg">
        <p><strong>Total Days: </strong>{{tradingAccuracy?.totalDays}}</p>
        <p><strong>Total Profitable Days: </strong>{{tradingAccuracy?.totalProfitableDays}}</p>
        <p *ngIf="streakData?.profitableStreak > 0"><strong>Current Profitable Streak: </strong>{{streakData?.profitableStreak}}</p>
        <p *ngIf="streakData?.losingStreak > 0"><strong>Current Losing Streak: </strong>{{streakData?.losingStreak}}</p>
        <p><strong>Success Ratio: </strong>{{((tradingAccuracy?.totalProfitableDays / tradingAccuracy?.totalDays) * 100).toFixed(2)}}%</p>
    </div>

    <!-- <div class="flex gap-2 mt-8 flex-wrap">
        <ng-container *ngFor="let trade of trades">
            <div class="w-16 h-8 rounded-lg"
            [class.bg-green-200]="trade.isProfitable && trade.profit < 500"
            [class.bg-green-300]="trade.isProfitable && trade.profit > 500"
            [class.bg-green-500]="trade.isProfitable && trade.profit > 1000"
            [class.bg-green-700]="trade.isProfitable && trade.profit > 2000"
            
            [class.bg-red-200]="!trade.isProfitable && trade.lose < 500"
            [class.bg-red-300]="!trade.isProfitable && trade.lose > 500"
            [class.bg-red-500]="!trade.isProfitable && trade.lose > 1000"
            [class.bg-red-700]="!trade.isProfitable && trade.lose > 2000"
            [pTooltip]="tooltipContent" tooltipStyleClass="custom-tooltip"></div>

            <ng-template #tooltipContent>
                <div class="flex align-items-center">
                    <span>
                        <b [class.profit]="trade.profit > 0" [class.lose]="trade.lose">{{trade.date}}:  {{trade.isProfitable ? '+' + trade.profit : '-' + trade.lose}}</b>
                    </span>
                </div>
            </ng-template>
        </ng-container>
    </div> -->

    <div class="relative mt-4 overflow-x-auto shadow-sm">
        <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Trades
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Market
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Investment
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Profit/Lose
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Brokerage
                    </th>
                    <th scope="col" class="px-6 py-3">
                        ROI
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Net
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!isLoading">
                    <ng-container *ngFor="let trade of trades">
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <!-- {{ newDate | date: 'dd-MM-yyyy'}} -->
                                {{trade.date}}
                            </th>
                            <td class="px-6 py-4">
                                {{trade.totalTrades}}
                            </td>
                            <td class="px-6 py-4">
                                {{trade.market}}
                            </td>
                            <td class="px-6 py-4">
                                {{trade.investment | number}}
                            </td>
                            <td class="px-6 py-4">
                                <span class="profit" *ngIf="trade.isProfitable">+{{trade.profit | number}}</span>
                                <span class="lose" *ngIf="!trade.isProfitable">-{{trade.lose | number}}</span>
                            </td>
                            <td class="px-6 py-4">
                                {{trade.brokerage | number}}
                            </td>
                            <td class="px-6 py-4">
                                <span class="profit" *ngIf="trade.isProfitable">+{{((trade.profit / trade.investment) * 100).toFixed(2)}}%</span>
                                <span class="lose" *ngIf="!trade.isProfitable">-{{((trade.lose / trade.investment) * 100).toFixed(2)}}%</span>
                            </td>
                            <td class="px-6 py-4">
                                <span class="profit" *ngIf="trade.isProfitable">{{(+trade.investment + +trade.profit - +trade.brokerage) | number }}</span>
    
                                <span class="lose" *ngIf="!trade.isProfitable">{{(+trade.investment - +trade.lose - +trade.brokerage) | number }}</span>
                            </td>
                            <td class="px-6 py-4 text-right">
                                <button  (click)="openTradeForm(trade)"
                                    class="font-medium mx-2 text-blue-600 dark:text-blue-500 hover:underline">Edit</button>
                                <button  (click)="deleteTrade(trade)"
                                    class="font-medium mx-2 text-blue-600 dark:text-blue-500 hover:underline">Delete</button>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="tradeOverview && trades.length">
                        <tr>
                            <td class="px-6 py-4"></td>
                            <td class="px-6 py-4">
                                {{tradeOverview.totalTrades ?? '-'}}
                            </td>
                            <td class="px-6 py-4"></td>
                            <td class="px-6 py-4"></td>
                            <td class="px-6 py-4">
                                <span class="profit" *ngIf="tradeOverview.profitLose > 0">+{{tradeOverview.profitLose | number}}</span>
                                <span class="lose" *ngIf="tradeOverview.profitLose < 0">{{tradeOverview.profitLose | number}}</span>
                            </td>
                            <td class="px-6 py-4">{{(tradeOverview.brokerage | number) ?? 0}}</td>
                        </tr>
                    </ng-container>
    
                    <ng-container *ngIf="!trades.length">
                        <tr>
                            <td colspan="8" scope="col" class="px-6 py-8">
                                <p class="text-center">No Data Found</p>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>                
                <ng-container *ngIf="isLoading">
                    <tr>
                        <td colspan="8" scope="col" class="px-6 text-center py-8">
                            <p-progressSpinner styleClass="w-1rem h-1rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

