<div class="sheet">
    <h1 class="text-4xl font-semibold mb-10">Trade Sheet</h1>

    <div class="flex w-full justify-between items-center">
        <button class="py-2 px-3 bg-blue-700 rounded-lg hover:bg-blue-800 text-white flex gap-2 items-center" [class.bg-blue-800]="isShortSheets" (click)="shortSheets()">
            <img src="https://freepcgames.netlify.app/assets/icons/sort.svg" alt="short"> Short Sheet
        </button>

        <button class="py-2 px-3 mx-4 bg-green-500 rounded-lg hover:bg-green-600 text-white flex gap-2 items-center" *ngIf="sheets.length">
            Target Achieved {{((totalTargetAchievedSheets/sheets.length)*100).toFixed(2)+'%'}} ({{totalTargetAchievedSheets}}/{{sheets.length}})
        </button>

        <button (click)="addSheet()"
        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 ml-auto py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button">
            Generate Sheet
        </button>
    </div>

    <ng-container *ngFor="let sheet of sheets; let sheetIndex = index">
        <div class="sheet__card my-12">
            <div class="flex gap-2 items-center">
                <h1 class="text-2xl font-semibold">Sheet {{sheet.number}}</h1>
                <p *ngIf="sheet.targetAchieved" class="px-4 py-1 text-sm bg-green-500 border-green-900 rounded-lg text-white">Target Achieved</p>

                <button (click)="deleteSheet(sheet)" *ngIf="sheet.data.length != sheet.days && sheet.targetAchieved == null"
                class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 ml-auto py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                type="button">
                    Delete Sheet
                </button>

            </div>

            <div class="sheet__card-overview flex justify-between flex-wrap gap-2 mt-4 p-4 bg-yellow-50 border border-yellow-100 rounded-lg">
                <p><strong>Date: </strong>{{sheet.date}}</p>
                <p><strong>Starting Capital: </strong>{{sheet.capital | number}}</p>
                <p><strong>Expected ROI: </strong>{{sheet.roi}}</p>
                <p><strong>Number Of Days: </strong>{{sheet.days}}</p>
                <p><strong>Expected Final Capital: </strong>{{calculateCapital(sheet.capital, sheet.roi, sheet.days)}}</p>
            </div>

            <div class="flex gap-4 mt-4 items-center justify-between">
                <div class="markets flex gap-4 flex-wrap" *ngIf="sheet.targetAchieved == null">
                    <ng-container *ngFor="let market of markets; let i = index">
                        <div>
                            <input id="sheet_{{sheetIndex}}_{{i}}" type="radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" name="sheet_market_{{sheetIndex}}" value="{{market.lot}}" (change)="onMarketSelect(sheet, market)">
                            <label for="sheet_{{sheetIndex}}_{{i}}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{market.name}}</label>
                        </div>
                    </ng-container>
                </div>
                <button (click)="addSheetEntry(sheet)" *ngIf="sheet.data.length != sheet.days && sheet.targetAchieved == null"
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 ml-auto py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button">
                    Add Entry
                </button>
            </div>

            <div class="relative mt-4 overflow-x-auto shadow-sm">

                <table
                    class="w-full mt-4 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead
                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Starting Capital
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Current Capital
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Expected Profit
                            </th>
                            <th scope="col" class="px-6 py-3" *ngIf="sheet.market">
                                Point Needed <span>({{sheet.market.name}})</span>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Current Profit
                            </th>
                            <th scope="col" class="px-6 py-3">
                                ROI
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Net
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of sheet.expectedSheet; let i = index">
                            <tr *ngIf="!item.isAddFund"
                                [class.bg-green-50]="item.profit > 0"
                                [class.bg-red-50]="item.profit < 0"
                                (click)="sheet.data.length != sheet.days && sheet.targetAchieved == null ? updateSheetEntry(sheet, item) : ''"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{item.date}}
                                </th>
                                <td class="px-6 py-4">
                                    {{+(item.capital.toFixed(2)) | number}}
                                </td>
                                <td class="px-6 py-4">
                                    {{ +(item.startingCapital.toFixed(2)) | number }}
                                </td>
                                <td class="px-6 py-4">
                                    {{+(item.expectedProfit.toFixed(2)) | number}}
                                </td>
                                <td class="px-6 py-4" *ngIf="sheet.market">
                                    <span>{{((item.expectedProfit / sheet.market.lot).toFixed(2)) | number}}</span>
                                </td>
                                <td class="px-6 py-4">
                                    <span class="profit" *ngIf="item.profit > 0">+{{item.profit | number}}</span>
                                    <span class="lose" *ngIf="item.profit < 0">{{item.profit | number}}</span>
                                </td>
                                <td class="px-6 py-4">
                                    <span class="profit" *ngIf="item.profit > 0">+{{((item.profit / item.startingCapital) * 100).toFixed(2)}}%</span>
                                    <span class="lose" *ngIf="item.profit < 0">{{((item.profit / item.startingCapital) * 100).toFixed(2)}}%</span>
                                </td>
                                <td class="px-6 py-4">
                                    <span [class.profit]="item.profit > 0" [class.lose]="item.profit < 0">{{(item.startingCapital + +item.profit) | number}}</span>
                                </td>
                            </tr>
                            <!-- <tr *ngIf="item.isAddFund">
                                <td class="px-6 py-4 bg-red-400 text-center text-white" colspan="7">Added 2000</td>
                            </tr>
                            <tr *ngIf="item.isWithdrawalFund">
                                <td class="px-6 py-4 bg-green-400 text-center text-white" colspan="7">WithdrawalFund 2000</td>
                            </tr> -->
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!sheets.length">
        <p class="text-center mt-12">No Data Found</p>
    </ng-container>
</div>