.pnl-grid {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px;
    column-gap: 10px;
    row-gap: 10px;
    &-box {
        width: 20px;
        height: 20px;
        border-radius: 3px;
    }
}

.custom-tooltip.p-tooltip .p-tooltip-text {
    background-color: #e8e8e8 !important;
}

.month-name {
    transition: all 0.2s ease-in;

    &:hover {
        @apply text-blue-500 cursor-pointer;
        transition: all 0.2s ease-in;
    }
}

.streaks {
    @apply mt-12;

    &__item  {
        @apply px-8;

        @media screen and (max-width: 768px) {
            @apply px-0 py-2;
        }

        &:not(:last-child) {
            @apply border-r border-gray-200;

            @media screen and (max-width: 768px) {
                @apply border-r-0 border-b;
            }
        }

        &:first-child {
            @apply pl-0
        }
    }

    @media screen and (max-width: 768px) {
        @apply flex-col gap-2;
    }
}

.p-knob-range {
    @apply stroke-red-500;
    transition: all 0.2s ease-in
}

.p-knob-value {
    @apply stroke-green-500;
    transition: all 0.2s ease-in
}