.grid {
    &-item {
        @apply grid py-4 px-2 mb-4 bg-gray-50;
        grid-template-columns: 1fr 1fr 1fr;

        &.holiday-gone {
            @apply bg-red-100 text-red-800 ;
        }
    }
}