/* Stop Loss Calculator - Dark Theme */

.sl-option {
    @apply bg-red-500/10 border border-red-500/30;
    transition: all 0.2s ease-in;
    
    &.active {
        @apply bg-red-500/30 border-red-500;
    }
    
    &:hover {
        @apply bg-red-500/20;
    }
}

.tgt-option {
    @apply bg-emerald-500/10 border border-emerald-500/30;
    transition: all 0.2s ease-in;
    
    &.active {
        @apply bg-emerald-500/30 border-emerald-500;
    }
    
    &:hover {
        @apply bg-emerald-500/20;
    }
}