<div class="sheet-entry-form">
    <form [formGroup]="sheetEntryForm" (submit)="addSheetEntry()">
        <div class="grid gap-5 mb-6">
            <div>
                <label for="date" class="block mb-2 text-sm font-medium text-gray-300">Date</label>
                <p-calendar formControlName="date" appendTo="body" dateFormat="dd/mm/yy" placeholder="Select Date" styleClass="w-full"></p-calendar>
            </div>

            <div *ngIf="!sheetEntryForm.value.isAddedFund && !sheetEntryForm.value.isWithdrawalFund">
                <label for="profit" class="block mb-2 text-sm font-medium text-gray-300">Profit/Loss</label>
                <input type="number" id="profit" class="form-input" placeholder="Enter profit (positive) or loss (negative)" required formControlName="profit" />
            </div>

            <div *ngIf="sheetEntryForm.value.isAddedFund || sheetEntryForm.value.isWithdrawalFund">
                <label for="fund" class="block mb-2 text-sm font-medium text-gray-300">Fund Amount</label>
                <input type="number" id="fund" class="form-input" placeholder="Fund Amount" required formControlName="fund" />
            </div>
        </div>
        <button type="submit"
            [ngClass]="{'bg-blue-400/50 cursor-not-allowed': sheetEntryForm.invalid, 'bg-blue-600 hover:bg-blue-700' : !sheetEntryForm.invalid }" 
            class="text-white focus:ring-4 focus:outline-none focus:ring-blue-500/30 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center transition-colors">
            Submit
        </button>
    </form>
</div>
