<div class="trade">
    <form [formGroup]="tradeForm" (submit)="addTrade()">
        <div class="grid gap-5 mb-6">
            <div>
                <label for="date" class="block mb-2 text-sm font-medium text-gray-300">Date</label>
                <p-calendar formControlName="date" appendTo="body" dateFormat="dd/mm/yy" placeholder="Select Date" styleClass="w-full"></p-calendar>
            </div>

            <div>
                <label for="total_trades" class="block mb-2 text-sm font-medium text-gray-300">Total Trades</label>
                <input type="number" id="total_trades" class="form-input" placeholder="Total Trades" required formControlName="totalTrades" min="0"/>
            </div>

            <div>
                <label for="market" class="block mb-2 text-sm font-medium text-gray-300">Market</label>
                <select formControlName="market" id="market" class="form-input">
                    <option selected>Choose a Market</option>
                    <option value="Bank Nifty">Bank Nifty</option>
                    <option value="Nifty">Nifty</option>
                    <option value="Fin Nifty">Fin Nifty</option>
                    <option value="MidCap Nifty">MidCap Nifty</option>
                    <option value="Sensex">Sensex</option>
                </select>
            </div>

            <div>
                <label for="investment" class="block mb-2 text-sm font-medium text-gray-300">Investment</label>
                <input formControlName="investment" type="number" id="investment" class="form-input" placeholder="Investment" required min="0"/>
            </div>

            <div class="flex items-center">
                <input id="default-checkbox" type="checkbox" value="" formControlName="isProfitable" class="w-4 h-4 text-blue-600 bg-slate-700 border-slate-600 rounded focus:ring-blue-500 focus:ring-2">
                <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-300">Profitable Trade</label>
            </div>

            <div *ngIf="tradeForm.value.isProfitable">
                <label for="profit" class="block mb-2 text-sm font-medium text-gray-300">Profit</label>
                <input formControlName="profit" type="number" id="profit" class="form-input" placeholder="Profit" required min="0"/>
            </div>

            <div *ngIf="!tradeForm.value.isProfitable">
                <label for="lose" class="block mb-2 text-sm font-medium text-gray-300">Loss</label>
                <input formControlName="lose" type="number" id="lose" class="form-input" placeholder="Loss" required min="0"/>
            </div>

            <div>
                <label for="brokerage" class="block mb-2 text-sm font-medium text-gray-300">Brokerage</label>
                <input formControlName="brokerage" type="number" id="brokerage" class="form-input" placeholder="Brokerage" required min="0"/>
            </div>
        </div>
        <button type="submit" 
            [ngClass]="{'bg-blue-400/50 cursor-not-allowed': tradeForm.invalid, 'bg-blue-600 hover:bg-blue-700' : !tradeForm.invalid }" 
            class="text-white focus:ring-4 focus:outline-none focus:ring-blue-500/30 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center transition-colors">
            Submit
        </button>
    </form>
</div>
