<!-- Modal body -->
<div class="sheet-form">
    <form class="space-y-4" action="#">

        <form [formGroup]="sheetForm" (submit)="addSheet()">
            <div class="grid gap-6 mb-6">

                <div>
                    <label for="last_name"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date</label>
                    <p-calendar formControlName="date" appendTo="body" dateFormat="dd/mm/yy"
                        placeholder="Select Date"></p-calendar>
                </div>

                <div>
                    <label for="starting_capital"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Starting Capital</label>
                    <input type="number" id="starting_capital"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Starting Capital" required formControlName="capital" />
                </div>

                <div>
                    <label for="expected_roi"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expected ROI</label>
                    <input type="number" id="expected_roi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Expected ROI" required formControlName="roi" />
                </div>

                <div>
                    <label for="number_of_days"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number Of Days</label>
                    <input type="number" id="number_of_days"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Number Of Days" required formControlName="days" />
                </div>

            </div>
            <button type="submit"
            [ngClass]="{'bg-blue-400 cursor-not-allowed': sheetForm.invalid, 'bg-blue-700 hover:bg-blue-800' : !sheetForm.invalid }" class="text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

    </form>
</div>