<div class="sheet-form">
    <form [formGroup]="sheetForm" (submit)="addSheet()">
        <div class="grid gap-5 mb-6">
            <div>
                <label for="date" class="block mb-2 text-sm font-medium text-gray-300">Date</label>
                <p-calendar formControlName="date" appendTo="body" dateFormat="dd/mm/yy" placeholder="Select Date" styleClass="w-full"></p-calendar>
            </div>

            <div>
                <label for="starting_capital" class="block mb-2 text-sm font-medium text-gray-300">Starting Capital</label>
                <input type="number" id="starting_capital" class="form-input" placeholder="Starting Capital" required formControlName="capital" min="0"/>
            </div>

            <div>
                <label for="expected_roi" class="block mb-2 text-sm font-medium text-gray-300">Expected ROI (%)</label>
                <input type="number" id="expected_roi" class="form-input" placeholder="Expected ROI" required formControlName="roi" min="0"/>
            </div>

            <div>
                <label for="number_of_days" class="block mb-2 text-sm font-medium text-gray-300">Number Of Days</label>
                <input type="number" id="number_of_days" class="form-input" placeholder="Number Of Days" required formControlName="days" min="1"/>
            </div>
        </div>
        <button type="submit"
            [ngClass]="{'bg-blue-400/50 cursor-not-allowed': sheetForm.invalid, 'bg-blue-600 hover:bg-blue-700' : !sheetForm.invalid }" 
            class="text-white focus:ring-4 focus:outline-none focus:ring-blue-500/30 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center transition-colors">
            Submit
        </button>
    </form>
</div>
