<h1 class="text-4xl font-semibold mb-10">Stocks</h1>
<button (click)="openStockForm()"
class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 ml-auto py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
type="button">
    Add Stock
</button>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-5 mt-4">
    <div class="stocks border border-blue-300 rounded-lg p-3 !pt-4 sm:p-8" *ngFor="let stock of stocks"
    [class.bg-green-50]="stock.status !='Hold' && (((stock.totalQuantity * stock.sellPrice - stock.totalQuantity * stock.buyPrice)/(stock.totalQuantity * stock.buyPrice))* 100) > 0"
    [class.bg-red-50]="stock.status !='Hold' && (((stock.totalQuantity * stock.sellPrice - stock.totalQuantity * stock.buyPrice)/(stock.totalQuantity * stock.buyPrice))* 100) < 0"
    [class.bg-gray-50]="stock.status ==='Hold'"
    [class.border-gray-500]="stock.status ==='Hold'"
    [class.border-green-500]="stock.status !='Hold' && (((stock.totalQuantity * stock.sellPrice - stock.totalQuantity * stock.buyPrice)/(stock.totalQuantity * stock.buyPrice))* 100) > 0"
    [class.border-red-500]="stock.status !='Hold' && (((stock.totalQuantity * stock.sellPrice - stock.totalQuantity * stock.buyPrice)/(stock.totalQuantity * stock.buyPrice))* 100) < 0">
        <div class="stocks__action flex gap-2 justify-end items-center">
            <button class="flex justify-center items-center" (click)="openStockForm(stock)"><img src="./assets/icons/edit.svg" alt="edit" width="28px" height="28px"></button>
            <button class="flex justify-center items-center" (click)="deleteTrade(stock)"><img src="./assets/icons/delete.svg" alt="edit" width="20px" height="20px"></button>
        </div>
        <div class="stocks__header flex items-center gap-4 flex-wrap">
            <img [src]="stock.logo" [alt]="stock.name" width="50" height="50">
            <h1 class="flex w-full gap-2">{{stock.name}}
                <span>(<a href="{{'https://www.screener.in/company/'+stock.code+'/consolidated/'}}" class="text-blue-600 hover:underline" target="_blank">{{stock.code}}</a>)</span>
                <span class="inline-block text-gray-400 ml-auto">{{stock.date}}</span>
            </h1>
        </div>
    
        <div class="stock__detail grid grid-cols-2 gap-4 flex-wrap mt-8 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
            <div class="stock__detail-group">
                <p class="text-gray-400">Quantity</p>
                <p class="text-blue-600 text-2xl font-semibold">{{stock.totalQuantity}}</p>
            </div>
            <div class="stock__detail-group">
                <p class="text-gray-400">Buy Price</p>
                <p class="text-green-600 text-2xl font-semibold">{{stock.buyPrice}}</p>
            </div>
            <div class="stock__detail-group" *ngIf="stock.status !='Hold'">
                <p class="text-gray-400">Sell Price</p>
                <p class="text-red-600 text-2xl font-semibold">{{stock.sellPrice}}</p>
            </div>
            <div class="stock__detail-group">
                <p class="text-gray-400">Status</p>
                <p class="text-2xl font-semibold" [class.text-gray-600]="stock.status ==='Hold'" [class.text-red-600]="stock.status ==='Sell'">{{stock.status}}</p>
            </div>
            <div class="stock__detail-group">
                <p class="text-gray-400">Buy Amount</p>
                <p class="text-blue-600 text-2xl font-semibold">{{(stock.totalBuyAmount).toFixed(2)}}</p>
            </div>
            <div class="stock__detail-group" *ngIf="stock.status !='Hold'">
                <p class="text-gray-400">Sell Amount</p>
                <p class="text-blue-600 text-2xl font-semibold">{{(stock.totalSellAmount).toFixed(2)}}</p>
            </div>
            <div class="stock__detail-group" *ngIf="(stock.sellPrice > stock.buyPrice) && stock.sellPrice != 0">
                <p class="text-gray-400">Profit</p>
                <p class="text-green-600 text-2xl font-semibold">{{((stock.totalQuantity * stock.sellPrice) - (stock.totalQuantity * stock.buyPrice)).toFixed(2)}}</p>
            </div>
            <div class="stock__detail-group" *ngIf="(stock.sellPrice < stock.buyPrice) && stock.sellPrice != 0">
                <p class="text-gray-400">Loss</p>
                <p class="text-red-600 text-2xl font-semibold">{{((stock.totalQuantity * stock.sellPrice) - (stock.totalQuantity * stock.buyPrice)).toFixed(2)}}</p>
            </div>
            <div class="stock__detail-group" *ngIf="stock.status === 'Sell'">
                <p class="text-gray-400">ROI</p>
                <p class="text-green-600 text-2xl font-semibold"
                [class.text-red-600]="(((stock.totalQuantity * stock.sellPrice - stock.totalQuantity * stock.buyPrice)/(stock.totalQuantity * stock.buyPrice))* 100) < 0">{{(((stock.totalQuantity * stock.sellPrice - stock.totalQuantity * stock.buyPrice)/(stock.totalQuantity * stock.buyPrice))* 100).toFixed(2)}}%</p>
            </div>
        </div>
    </div>
</div>