/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.p-progress-spinner {
    width: 40px;
    height: 40px;
}

.profit {
    @apply text-green-600 font-semibold;
}

.lose {
    @apply text-red-600 font-semibold;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply rounded-xl; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-xl; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
}