<div class="stock-form">
    <form [formGroup]="stockForm" (submit)="addTrade()">
        <div class="grid gap-5 mb-6">
            <div>
                <label for="date" class="block mb-2 text-sm font-medium text-gray-300">Date</label>
                <p-calendar formControlName="date" appendTo="body" dateFormat="dd/mm/yy" placeholder="Select Date" styleClass="w-full"></p-calendar>
            </div>

            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-300">Stock Name</label>
                <input type="text" id="name" class="form-input" placeholder="Stock Name" required formControlName="name"/>
            </div>

            <div *ngIf="!stockForm.value.isSold">
                <label for="buyPrice" class="block mb-2 text-sm font-medium text-gray-300">Buy Price</label>
                <input formControlName="buyPrice" type="number" id="buyPrice" class="form-input" placeholder="Price per share" required (input)="setAmount()"/>
            </div>

            <div>
                <label for="logo" class="block mb-2 text-sm font-medium text-gray-300">Logo URL</label>
                <input type="text" id="logo" class="form-input" placeholder="Stock Logo URL" required formControlName="logo"/>
            </div>

            <div>
                <label for="code" class="block mb-2 text-sm font-medium text-gray-300">Symbol</label>
                <input type="text" id="code" class="form-input" placeholder="Stock Symbol" required formControlName="code"/>
            </div>

            <div>
                <label for="totalQuantity" class="block mb-2 text-sm font-medium text-gray-300">Total Quantity</label>
                <input formControlName="totalQuantity" type="number" id="totalQuantity" class="form-input" placeholder="Number of shares" required (input)="setAmount()"/>
            </div>

            <div class="flex items-center">
                <input id="sold-checkbox" type="checkbox" value="" formControlName="isSold" class="w-4 h-4 text-blue-600 bg-slate-700 border-slate-600 rounded focus:ring-blue-500 focus:ring-2">
                <label for="sold-checkbox" class="ms-2 text-sm font-medium text-gray-300">Sold</label>
            </div>

            <div *ngIf="stockForm.value.isSold">
                <label for="sellPrice" class="block mb-2 text-sm font-medium text-gray-300">Sell Price</label>
                <input formControlName="sellPrice" type="number" id="sellPrice" class="form-input" placeholder="Sell price per share" required (input)="setAmount()"/>
            </div>

            <div *ngIf="stockForm.value.isSold">
                <label for="totalSellAmount" class="block mb-2 text-sm font-medium text-gray-300">Total Sell Amount</label>
                <input formControlName="totalSellAmount" type="number" id="totalSellAmount" class="form-input bg-slate-700 cursor-not-allowed" placeholder="Total Sell Amount" required readonly/>
            </div>

            <div>
                <label for="totalBuyAmount" class="block mb-2 text-sm font-medium text-gray-300">Total Buy Amount</label>
                <input formControlName="totalBuyAmount" type="number" id="totalBuyAmount" class="form-input bg-slate-700 cursor-not-allowed" placeholder="Total Buy Amount" required readonly/>
            </div>
        </div>
        <button type="submit" 
            [ngClass]="{'bg-blue-400/50 cursor-not-allowed': stockForm.invalid, 'bg-blue-600 hover:bg-blue-700' : !stockForm.invalid }" 
            class="text-white focus:ring-4 focus:outline-none focus:ring-blue-500/30 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center transition-colors">
            Submit
        </button>
    </form>
</div>
